$theme-colors: ( "primary": #fe8301);
$primary-color:#fe8301;
$body-bg: white;
$secondary-color:#f2f2f2;
$font: "Raleway", sans-serif;

  .navbar-default{
      background-color: $body-bg;
      border:none;
  }
.container{
  #text-wrap{
    float: left;
    padding-top:10px;
    padding-left: 100px;
    color:white;
    font-weight: 900;
  }
}


.navbar-default .navbar-nav > li > a{
  color:white;
}

.navbar-default .navbar-nav > li > a:hover{
  color:$primary-color;
}

h1,
.navbar-brand,
.navbar-nav a {
  font-family: $font;
  color: black;
  font-size: 12px;
  padding: 0;
  font-weight: 900;
}

.container{
  .navbar-brand{
    img{
      float: left;
      max-width:50px;
      padding-right: 10px;
       margin-top: 7px;
       margin-left: -110px;
    }
  }

}


#jumbotron-costum {
  background-image: url("restaurante-cluj.jpg");
  color: white;
  font-family: $font;
  margin-bottom: 0px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.jumbotron {
  h1 {
      text-align: center;
      padding-top: 60px;
      font-weight: bolder;
  }
  p {
      margin-top: 20px;
      text-align: center;
      font-weight: 700px;
      margin-top: 50px;
  }
  margin-bottom: 500px;
}

.navbar-default {
  transition: 500ms ease;
  background: transparent;
  color: black;
}
.navbar-default.scrolled {
  background-color: $secondary-color;
  margin: 0 0 0 0;
  padding-top: 5px;
  border: 2px solid $secondary-color;
  border-radius: 10px;
}


.navbar-default.scrolled {
  h1,
  .navbar-brand,
  .navbar-nav a {
      color: black;
  }
  #text-wrap{
    color: black;
  }
}



.navbar-nav{
  margin-left:400px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .bullet>li {
      position: relative
  }
  .bullet>li:before,
  .bullet>li::after {
      content: "";
      position: absolute;
      width: 3px;
      height: 3px;
      background:$primary-color;
      top: 50%;
      right: -3px;
      z-index: 1;
      border-radius: 6px;
  }
}

@media (min-width: 768px) {
  .bullet>li:before,
  .bullet>li:last-of-type:after {
      content: none;
  }
}
.navbar{
  .nav-wrap{
    margin-top: 15px;
    padding-top: 10px;
  }
}
