%nav.navbar.navbar-expand-lg.fixed-top.navbar-default.navbar-custom
  .container
  %a.navbar-brand
    EUREKA CAFFE
  %button.navbar-toggler
    %span.navbar-toggler-icon
    %span.icon-bar
    %span.icon-bar
